
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var medical in ViewBag.medicals)
        {
            @foreach (var policy in medical.Policies)
            {
                <div class="col-md-6">
                    <div class="card">

                        <div class="card-header">

                            <strong class="card-title">@policy.PolicyName</strong>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Medical</h4>
                                <p>@medical.MedicalDescription</p>
                                <h4 class="alert-heading">Policy</h4>
                                <p>@policy.PolicyDesc</p>
                                <h4 class="alert-heading">Hospital</h4>
                                <p> @medical.Hospital.HospitalName</p>
                                <hr>
                                <p class="mb-0">
                                    <a>Amount: </a> @policy.Amount.ToString("#,##0") vnd<br>
                                    <a>Emi: </a> @policy.Emi.ToString("#,##0") vnd<br>
                                    <a>Duration: </a> @policy.PolicyDuration months<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a type="button" class="btn btn-success btn-lg btn-block" asp-controller="policiesonemployees" asp-action="Index" asp-route-id="@policy.Id">Register</a>
                    </div>
                </div>
            }
                    
        }
    </div>
</div>