@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
 }
<section class="p-t-20">
    <div class="container">
        <form asp-controller="hospital" asp-action="search" method="POST">
            <div style="" class="form-group row">
                <div class="col-md-3" style="text-align: center;">
                    <label>Search Hospital: </label>
                </div>
                <div class="col-md-4">
                    <input type="text" name="keyword" value="@ViewBag.keyword"  class="form-control" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
                <div class="col-md-2">
                    <a asp-controller="hospital" asp-action="index">
                    <button type="button" class="btn btn-info">Show All</button>
                    </a>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-borderless table-data3">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Hospital Name</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Website</th>
                                <th>Choose</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 0;}
                            @foreach (var hospital in ViewBag.hospitals)
                            {
                                i++;
                                <tr class="tr-shadow">
                                    <td><span>@i</span></td>
                                    <td>@hospital.HospitalName</td>
                                    <td>@hospital.Location</td>
                                    <td>@hospital.Phone</td>
                                    <td>
                                        <a href="@hospital.HospitalUrl">@hospital.HospitalUrl</a></td>
                                    <td>
                                        <div class="table-data-feature">
                                        <a asp-controller="medical" asp-action="hospitalMed" asp-route-id="@hospital.Id">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Choose this hospital">
                                                <i class="zmdi zmdi-mail-send"> </i>
                                            </button>
                                        </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr class="spacer"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

